html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: url("../../../public/fundo_login.jpg") no-repeat center center;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.login-card {
  display: flex;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 90%;
}

.logo-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-right: 1px solid #eee;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.login-form {
  width: 100%;
}

.login-title {
  text-align: left;
  margin-bottom: 20px;
  color: #000;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
}

.input-field {
  width: 100%;
  padding: 10px 10px 10px 35px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  background-color: transparent;
}

.login-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.forgot-password {
  color: #007bff;
  text-decoration: none;
}

.login-button {
  background: linear-gradient(to right, #222d55, #43a047);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}
.login-button:hover {
  background: linear-gradient(to right, #222d55, #219427);
}

.social-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-account {
  color: #007bff;
  text-decoration: none;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ccc;
  color: #333;
  text-decoration: none;
}

.social-icon i {
  font-size: 1.2rem;
}

.social-facebook:hover {
  background-color: #3b5998;
}

.social-google:hover {
  background-color: #dd4b39;
}

.alert {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  font-size: 14px;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

/* Adicionar para desativar botão */
.login-button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
